body {
    font-family: Arial;
    background-color: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #16a34a;
}